﻿@model MkibaBI.Models.User

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




<div class="content">
    <div class="container">

        <!-- Page-Title -->
        <div class="row">

            <div class="col-md-12">
                <div class="card-box">
                    <h4 class="m-t-0 header-title"><b> Update System Users</b></h4>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()



                        <hr />
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.UserId)

                            <table class="table table-striped">
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">
                                                @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @style = "border:solid;border-width:thin" } })

                                                <br />
                                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-6" })
                                            <div class="col-md-10">

                                                @Html.PasswordFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @style = "border:solid;border-width:thin" } })
                                                <br />
                                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>

                                    <td></td>
                                    <td>
                                        <div style="visibility:hidden" class="form-group">
                                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <br />
                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @style = "border:solid;border-width:thin" } })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" value="Save" class="btn btn-primary" />
                                            </div>
                                        </div>


                                    </td>
                                    <td>

                                    <td>
                                        <div style="visibility:hidden" class="form-group">
                                            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <br />
                                            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", @style = "border:solid;border-width:thin" } })
                                            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                                        </div>
                                    </td>
                                    <td>
                                        <div style="visibility:hidden" class="form-group">
                                            @Html.LabelFor(model => model.role, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <br />
                                           @Html.EditorFor(model => model.role, new { htmlAttributes = new { @class = "form-control", @style = "border:solid;border-width:thin" } })
                                            @Html.ValidationMessageFor(model => model.role, "", new { @class = "text-danger" })
                                            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <br />
                                            <div class="form_control">
                                                @Html.EditorFor(model => model.IsActive)
                                                @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger", })
                                            </div>
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                 </td>

                                    <td></td>



                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>

                                    <td>
                                        <div style="visibility:hidden" class="form-group">
                                            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <br />
                                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @style = "border:solid;border-width:thin" } })
                                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                        </div>

                                    </td>
                                    <td>
                                        <div style="visibility:hidden" class="form-group">
                                            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <br />
                                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @style = "border:solid;border-width:thin" } })
                                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                        </div>

                                    </td>
                                    <td>

                                        <div style="visibility:hidden" class="form-group">
                                            @Html.LabelFor(model => model.LockCount, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.LockCount, new { htmlAttributes = new { @class = "form-control", @style = "border:solid;border-width:thin" } })
                                                @Html.ValidationMessageFor(model => model.LockCount, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>

                                    <td>
                                        <div style="visibility:hidden" class="form-group">
                                            @Html.LabelFor(model => model.CreateDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.CreateDate, new { htmlAttributes = new { @class = "form-control", @style = "border:solid;border-width:thin" } })
                                                @Html.ValidationMessageFor(model => model.CreateDate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>









                        </div>


                                                }

                    <div>
                        @Html.ActionLink("Back to List", "Index")
                    </div>

                    @section Scripts {
                        @Scripts.Render("~/bundles/jqueryval")
                    }
                </div>
            </div>
        </div>
    </div>
</div>