﻿@model PagedList.IPagedList<MkibaBI.Models.DailyTrade>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script type="text/javascript">
    function onSubmitClick() {
        $('#myForm input[name="DXScript"]').remove();
        $('#myForm input[name="DXCss"]').remove();

    }
</script>



<script type="text/javascript" language="Javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>

<script type="text/javascript" language="javascript">

    $(document).ready(function () {
        var idleInterval = setInterval("reloadPage()", 180000); // 30 Seconds
    })

    function reloadPage() {
        location.reload();
    }
</script>

<div class="content">
    <div class="container">

        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">

                <p class="text-muted page-title-alt">Welcome @User.Identity.Name  !</p>
                <h4 class="page-title">Airtel Daily Trade Analysis</h4>
                <h4 class="page-title">Selected Company @ViewBag.CompN</h4>
            </div>
        </div>



        <div class="row">
            From @ViewBag.dt1 ,To @ViewBag.dt2
            <br />
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of
            @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Index8",
new
{
    page,
    sortOrder = ViewBag.CurrentSort,
    currentFilter =
ViewBag.CurrentFilter
}))
            <!-- Transactions -->
            <div class="col-lg-12">
                <div class="card-box">
                    <h4 class="m-t-0 m-b-20 header-title"><b>Daily trade Analysis</b></h4>
                    <div class="nicescroll mx-box">

                        <table class="table table-striped" style="font-size:10pt">
                            <tr>
                                <td>


                                    <ul>
                                        <li style="list-style:none">...</li>
                                        <li style="list-style:none">...</li>
                                        <li style="list-style:none">Total Buys</li>
                                        <li style="list-style:none">Buys Per Day(IPO)</li>
                                        <li style="list-style:none">Percentage Of Bond Taken Up</li>
                                        <li style="list-style:none">Total Registrations</li>
                                        <li style="list-style:none">Registrations Per Day</li>
                                        <li style="list-style:none">Total No.Of Bids</li>
                                        <li style="list-style:none">Total Buyers</li>
                                        <li style="list-style:none">Percentage Of Buyers To Registrations</li>
                                        <li style="list-style:none">Avarage Bid</li>

                                    </ul>

                                </td>

                                @foreach (var item in Model)
                                {
                                    <td>
                                        @{
                                            DateTime my = item.Day;
                                            string mew = item.TotalBuyC.ToString("#,##0.00");
                                            string mew2 = item.BuysPerDay.ToString("#,##0.00");
                                            string mew3 = Math.Round(item.percentageBond, 2).ToString() + "%";
                                            string mew4 = Math.Round(item.BPR, 2).ToString() + "%";
                                        }

                                        <ul>
                                            <li style="list-style:none"><strong>@my.ToString("dd/MM/yyyy")</strong></li>
                                            <li style="list-style:none"><strong>@my.DayOfWeek</strong></li>
                                            <li style="list-style:none">@mew</li>
                                            <li style="list-style:none">@mew2</li>
                                            <li style="list-style:none">@mew3</li>
                                            <li style="list-style:none">@Html.DisplayFor(modelItem => item.TotalRegistrations)</li>
                                            <li style="list-style:none">@Html.DisplayFor(modelItem => item.RegistrationsP)</li>
                                            <li style="list-style:none">@Html.DisplayFor(modelItem => item.totalBids)</li>
                                            <li style="list-style:none">@Html.DisplayFor(modelItem => item.totalBuyers)</li>
                                            <li style="list-style:none">@mew4</li>
                                            <li style="list-style:none">@Html.DisplayFor(modelItem => item.averageBid)</li>
                                        </ul>

                                    </td>





                                }
                            </tr>



                        </table>

                    </div>



                </div>

            </div>
        </div>
        <!-- CHAT -->
        <!-- end row -->




    </div> <!-- container -->

</div> <!-- content -->
@using (Html.BeginForm("Index8", "User", FormMethod.Get, new { Id = "myForm", style = "margin: 0px; " }))
{
    <div style="background:white;visibility:hidden" class="form-horizontal">
        <div class="panel-heading" style="background-color:#428bca">
            <l style="color:white">Search</l>
        </div>

        <div class="form-group">
            <div class="col-md-4">
                Start Date : @Html.JQueryUI().Datepicker("Date1String").ShowButtonPanel(true).ChangeYear(true).ChangeMonth(true)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                End.. Date : @Html.JQueryUI().Datepicker("Date2String").ShowButtonPanel(true).ChangeYear(true).ChangeMonth(true)
            </div>
            <div class="col-md-4">

                <input type="submit" class="btn btn-primary" onclick="onSubmitClick();" value="Search" />
            </div>
        </div>


    </div>



}
<br />