﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<script type="text/javascript" language="Javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>

<script type="text/javascript" language="javascript">

    $(document).ready(function () {
        var idleInterval = setInterval("reloadPage()", 180000); // 30 Seconds
    })

    function reloadPage() {
        location.reload();
    }
</script>

<div class="content">
    <div class="container">

        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
          
                <p class="text-muted page-title-alt">Welcome @User.Identity.Name  !</p>
                <h4 class="page-title">Summary Analysis</h4>
                <h4 class="page-title">Selected Company @ViewBag.CompN</h4>
            </div>
        </div>

    

            <div class="row">
            
                <!-- Transactions -->
                <div class="col-lg-6">
                    <div class="card-box">
                        <h4 class="m-t-0 m-b-20 header-title"><b>Summary</b></h4>
                        <h5>Issued Quantity:@ViewBag.ps.ToString("#,##0.00")</h5>
                        <div class="nicescroll mx-box">
                            <table class="table table-striped">
                                <tr>
                                    <th>

                                    </th>
                                    <th>
                                        Safaricom
                                    </th>
                                    <th>
                                        Airtel
                                    </th>
                                    <th>
                                        Unallocated
                                    </th>
                                    <th>
                                        Totals
                                    </th>
                                </tr>

                                @foreach (var cc in ViewBag.Cum)
                                {
                                <tr>
                                    <td>
                                        @cc.c

                                    </td>
                                    <td>
                                        @cc.Safaricom.ToString("#,##0.00")
                                    </td>
                                    <td>
                                        @cc.Airtel.ToString("#,##0.00")
                                    </td>
                                    <td>
                                        @cc.Unallocated.ToString("#,##0.00")
                                    </td>
                                    <td>
                                        @if (cc.c.Contains("Percentage"))
                                        {
                                            var sz = "%";
                                            @Math.Round(Convert.ToDouble(cc.Total.ToString()), 2).ToString();
                                            @sz
                                        }
                                        else
                                        {

                                            @cc.Total.ToString("#,##0.00");
                                        }
                                    </td>

                                </tr>

                                }
                            </table>

                        </div>
                    </div>

                </div>
                <div class="col-lg-6" >
                    <div class="card-box" >
                        <div class="nicescroll mx-box">
                            <table class="table table-striped">
                                <tr>
                                    <th>
                                        Safaricom Reconciliation
                                    </th>
                                    <th>

                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        Total Buys(IPO)
                                    </td>
                                    <td>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Airtel Reconciliation
                                    </th>
                                    <th>


                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        Total Buys(IPO)
                                    </td>
                                    <td>
                                     
                                    </td>
                                </tr>
                                @*<tr>
                                    <th>
                                        Unallocated Reconciliation
                                    </th>
                                    <th>


                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        Total Buys(IPO)
                                    </td>
                                    <td>
                                        @ViewBag.pr.ToString("#,##0.00")
                                    </td>
                                </tr>*@
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>


                        </div>
                        </div>
                        </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card-box">
                            <h4 class="m-t-0 m-b-20 header-title"><b>Amount Analysis By Band</b></h4>

                            <div class="nicescroll mx-box">
                                <table class="table table-striped">
                                    <tr>
                                        <th>

                                        </th>
                                        <th>
                                            Number
                                        </th>
                                        <th>
                                            Percentage
                                        </th>
                                        <th>
                                            Value
                                        </th>
                                        <th>
                                            Percentage Value
                                        </th>
                                    </tr>

                                    @foreach (var cc in ViewBag.analysis)
                                    {
                                        <tr>
                                            <td>
                                                @cc.analysisband

                                            </td>
                                            <td>
                                                @cc.Number
                                            </td>
                                            <td>
                                                @{
                                                    var dz = "%";
                                                }
                                                @cc.Percentage @dz
                                            </td>
                                            <td>
                                                @cc.Value.ToString("#,##0.00")
                                            </td>
                                            <td>
                                                @{
                                                    var sz = "%";
                                                }

                                                @cc.PercentageValue @sz
                                            </td>

                                        </tr>

                                                    }
                                </table>

                            </div>
                        </div>

                    </div>

                    <div class="col-lg-6">
                        <div class="card-box">
                            <h4 class="m-t-0 m-b-20 header-title"><b>Top 20 Investors</b></h4>

                            <div class="nicescroll mx-box">
                                <table class="table table-striped">
                                    <tr>

                                        <th>
                                            Account
                                        </th>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            MNO
                                        </th>
                                        <th>
                                            Invested Amount
                                        </th>
                                    </tr>

                                    @foreach (var cc in ViewBag.invs)
                                    {
                                        <tr>

                                            <td>
                                                @cc.Account
                                            </td>
                                            <td>
                                                @cc.Name
                                            </td>
                                            <td>
                                                @cc.MNO
                                            </td>
                                            <td>
                                                @cc.InvestedAmount.ToString("#,##0.00")
                                            </td>

                                        </tr>

                                    }
                                </table>

                            </div>
                        </div>

                    </div>
                </div> <!-- end col -->
                    <!-- CHAT -->
                    <!-- end row -->




                </div> <!-- container -->

            </div> <!-- content -->



