﻿@model MkibaBI.Models.Post
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@{

    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("User"))
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
    else if (User.IsInRole("Approver"))
    {
        Layout = "~/Views/Shared/_ApproverLayout.cshtml";
    }
    else if (User.IsInRole("BrokerAdmin"))
    {
        Layout = "~/Views/Shared/_BrokerAdminLayout.cshtml";
    }
    else if (User.IsInRole("BrokerAdmin2"))
    {
        Layout = "~/Views/Shared/_BrokerAdmin2Layout.cshtml";
    }
}


<div class="content">
    <div class="container">

        <!-- Page-Title -->
        <div class="row">

            <div class="col-md-12">
                <div class="card-box">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <h4 class="m-t-0 header-title"><b>Select Report Dates</b></h4>

                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <table class="table">
                            <tr>
                                <td>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.From, htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-10">

                                            @Html.JQueryUI().DatepickerFor(model => model.From, new { htmlAttributes = new { @class = "form-control", @style = "width:150px" } }).ShowButtonPanel(true).ChangeYear(true).ChangeMonth(true)

                                            @Html.ValidationMessageFor(model => model.From, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.To, htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-10">

                                            @Html.JQueryUI().DatepickerFor(model => model.To,new { htmlAttributes = new { @class = "form-control", @style = "width:150px" } }).ShowButtonPanel(true).ChangeYear(true).ChangeMonth(true)

                                            @Html.ValidationMessageFor(model => model.To, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="View Report" class="btn btn-primary" />
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </table>


                    }

                    @section Scripts {
                        @Scripts.Render("~/bundles/jqueryval")
                    }

                </div>
            </div>
        </div>
    </div>


    <footer class="footer text-right">
        © 2017. All rights reserved.
    </footer>


