﻿<%@ Page Language="C#" MaintainScrollPositionOnPostback="true" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="PurchaseAges.aspx.cs" Inherits="MkibaBI.Reporting.PurchaseAges" %>

<%@ Register Assembly="DevExpress.XtraReports.v18.2.Web.WebForms, Version=18.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" Namespace="DevExpress.XtraReports.Web" TagPrefix="dx" %>

<%@ Register Assembly="DevExpress.XtraReports.v18.2.Web, Version=18.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" Namespace="DevExpress.XtraReports.Web" TagPrefix="dx" %>



<asp:content id="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="content">
    <div class="container">

        <!-- Page-Title -->
        <div class="row">

            <div class="col-md-12">
                <div class="card-box">

         
                    <dx:ASPxDocumentViewer ID="ASPxDocumentViewer1" runat="server" Height="1100px" ReportTypeName="MkibaBI.Reporting.PurchasesByAge" Theme="Moderno" Width="100%">
                    </dx:ASPxDocumentViewer>
               
      </div>
            </div>
        </div>
                    </div>
        </div>
 

               </a>
 

               </asp:content>
