﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<script type="text/javascript" language="Javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>

<script type="text/javascript" language="javascript">

        $(document).ready(function() {
            var idleInterval = setInterval("reloadPage()", 180000); // 30 Seconds
        })

        function reloadPage() {
            location.reload();
        }
</script>
<style>
    #chartdiv {
        width: 100%;
        height: 500px;
    }

    #chartdiv2 {
        width: 100%;
        height: 500px;
    }

    #chartdiv3 {
        width: 100%;
        height: 500px;
    }

    #chartdiv5 {
        width: 100%;
        height: 500px;
    }

    #chartdiv4 {
        width: 100%;
        height: 500px;
    }
</style>
@{
    string baseUrl = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/'); ;

}


<script src="~/amcharts/amcharts/amcharts.js"></script>
<script src="~/amcharts/amcharts/pie.js"></script>
<script src="~/amcharts/amcharts/serial.js"></script>
<script src="~/amcharts/amcharts/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="~/amcharts/amcharts/plugins/export/export.css" type="text/css" media="all" />
<script src="~/amcharts/amcharts/themes/light.js"></script>
<script src="~/amcharts/amcharts/plugins/dataloader/dataloader.js" type="text/javascript"></script>



<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
<script type="text/javascript">

var chart8 = AmCharts.makeChart("chartdiv", {
    "theme": "light",
    "type": "serial",
    "startDuration": 2,
    "pathToImages": "https://www.amcharts.com/lib/3/images/",
    "dataLoader": {
        "url": "@baseUrl/buyerrange/@ViewBag.Comp/@ViewBag.Issuance",
        "format": "json"
    },
    "graphs": [{
        "balloonText": "[[category]]:[[T]] <b>[[value]]</b>",
        "fillColorsField": "color",
        "fillAlphas": 1,
        "lineAlpha": 0.1,
        "type": "column",
        "valueField": "Total"
    }],
    "depth3D": 20,
    "angle": 30,
    "chartCursor": {
        "categoryBalloonEnabled": true,
        "cursorAlpha": 0,
        "zoomable": false
    },
    "categoryField": "Range",
    "categoryAxis": {
        "gridPosition": "start",
        "title": "Age Range",
        "labelRotation": 90
    },
  "valueAxes": [ {
    "position": "left",
    "title": "Total"
}, {
    "position": "bottom",
    "title": "Age Range"
} ],
    "export": {
        "enabled": true
    }

});

var chart = AmCharts.makeChart("chartdiv5", {
    "theme": "light",
    "type": "serial",
    "startDuration": 2,
    "pathToImages": "https://www.amcharts.com/lib/3/images/",
    "dataLoader": {
        "url": "@baseUrl/agerange/@ViewBag.Comp/@ViewBag.Issuance",
        "format": "json"
    },
    "graphs": [{
        "balloonText": "[[category]]: <b>[[value]]</b>",
        "fillColorsField": "color",
        "fillAlphas": 1,
        "lineAlpha": 0.1,
        "type": "column",
        "valueField": "Total"
    }],
    "depth3D": 20,
    "angle": 30,
    "chartCursor": {
        "categoryBalloonEnabled": true,
        "cursorAlpha": 0,
        "zoomable": false
    },
    "categoryField": "Range",
    "categoryAxis": {
        "gridPosition": "start",
        "title": "Age Range",
        "labelRotation": 90
    },
  "valueAxes": [ {
    "position": "left",
    "title": "Total"
}, {
    "position": "bottom",
    "title": "Age Range"
} ],
    "export": {
        "enabled": true
    }

});

var chart2 = AmCharts.makeChart("chartdiv2", {
    "theme": "light",
    "type": "serial",
    "marginRight": 80,
    "autoMarginOffset": 20,
    "pathToImages": "https://www.amcharts.com/lib/3/images/",
    "marginTop": 20,
    "dataDateFormat": "DD-MM-YYYY",
    "dataLoader": {
        "url": "@baseUrl/weekonr/@ViewBag.Issuance",
        "format": "json"
    },
    "valueAxes": [{
        "id": "v1",
        "axisAlpha": 0.1
    }],
    "graphs": [{
        "useNegativeColorIfDown": true,
        "balloonText": "[[category]]<br><b>value: [[value]]</b>",
        "bullet": "round",
        "bulletBorderAlpha": 1,
        "bulletBorderColor": "#FFFFFF",
        "hideBulletsCount": 50,
        "lineThickness": 2,
        "lineColor": "#fdd400",
        "negativeLineColor": "#67b7dc",
        "valueField": "DisbCount"
    }],
    "chartScrollbar": {
        "scrollbarHeight": 5,
        "backgroundAlpha": 0.1,
        "backgroundColor": "#868686",
        "selectedBackgroundColor": "#67b7dc",
        "selectedBackgroundAlpha": 1
    },
    "chartCursor": {
        "valueLineEnabled": true,
        "valueLineBalloonEnabled": true
    },
    "categoryField": "WeekEnding",
    "categoryAxis": {
        "parseDates": false,
        "axisAlpha": 0,
        "title": "WeekEnding Date",
        "minHorizontalGap": 120
    },
    "valueAxes": [{
        "position": "left",
        "title": "Disbursed Count"
    }, {
        "position": "bottom",
        "title": "WeekEnding Date"
    }],
    "export": {
        "enabled": true
    }
});

chart.addListener("dataUpdated", zoomChart);
//zoomChart();

function zoomChart() {
    if (chart.zoomToIndexes) {
        chart.zoomToIndexes(130, chartData.length - 1);
    }
}
var chart3 = AmCharts.makeChart("chartdiv3", {
    "theme": "light",
    "type": "serial",
    "marginRight": 80,
    "pathToImages": "https://www.amcharts.com/lib/3/images/",
    "autoMarginOffset": 20,
    "marginTop": 20,
    "dataDateFormat": "DD-MM-YYYY",
    "dataLoader": {
        "url": "@baseUrl/biddersC/@ViewBag.Comp/@ViewBag.Issuance",
        "format": "json"
    },
    "valueAxes": [{
        "id": "v1",
        "axisAlpha": 0.1
    }],
    "graphs": [{
        "useNegativeColorIfDown": true,
        "balloonText": "<b>[[Fullname]]</b>",
        "bullet": "round",
        "bulletBorderAlpha": 1,
        "bulletBorderColor": "#FFFFFF",
        "hideBulletsCount": 50,
        "lineThickness": 2,
        "lineColor": "#fdd400",
        "negativeLineColor": "#67b7dc",
        "valueField": "units"
    }],
    "chartScrollbar": {
        "scrollbarHeight": 5,
        "backgroundAlpha": 0.1,
        "backgroundColor": "#868686",
        "selectedBackgroundColor": "#67b7dc",
        "selectedBackgroundAlpha": 1
    },
    "chartCursor": {
        "valueLineEnabled": true,
        "valueLineBalloonEnabled": true
    },
    "categoryField": "Surname",
    "categoryAxis": {
        "parseDates": false,
        "axisAlpha": 0,
        "title": "Customer",
        "labelRotation": 0,
        "minHorizontalGap": 120
    },
  "valueAxes": [ {
    "position": "left",
    "title": "Total"
}, {
    "position": "bottom",
    "title": "Customer"
} ],
    "export": {
        "enabled": true
    }
});

chart.addListener("dataUpdated", zoomChart);
//zoomChart();

function zoomChart() {
    if (chart.zoomToIndexes) {
        chart.zoomToIndexes(130, chartData.length - 1);
    }
}

var chart4 = AmCharts.makeChart("chartdiv4", {
        "type": "serial",
        "theme": "none",
        "pathToImages": "http://www.amcharts.com/lib/3/images/",
        "dataDateFormat": "YYYY-MM-DD",
        "synchronizeGrid": true,
        "legend": {
            "useGraphSettings": true
        },
        "valueAxes": [{
            "id":"v1",
            "axisAlpha": 0,
            "position": "left"
        }],
        "graphs": [{
   "id": "g1",
   "bullet": "round",
   "useNegativeColorIfDown": true,
          "balloonText": " [[Fullnames]]<br><b>value: [[value]]</b>",
            "bulletBorderAlpha": 1,
            "bulletColor": "color",
            "bulletSize": 5,
            "hideBulletsCount": 50,
            "lineThickness": 2,
            "title": "red line",
            "useLineColorForBulletBorder": true,
            "valueField": "Holding"
        },
            ],
        "chartScrollbar": {
            "graph": "g1",
            "scrollbarHeight": 30
        },
        "chartScrollbar": {},
        "chartCursor": {
            "cursorPosition": "mouse"
        },
        "chartCursor": {
            "cursorPosition": "mouse",
            "pan": true,
             "valueLineEnabled":true,
             "valueLineBalloonEnabled":true
        },
        "categoryField": "Surname",
        "categoryAxis": {
            "parseDates": false,
            "dashLength": 1,
            "minorGridEnabled": true,
            "title": "Customer",
            "position": "bottom"
        },
  "valueAxes": [ {
    "position": "left",
    "title": "Holdings"
    }, {
        "position": "bottom",
        "title": "Customer"
    } ],
        "export": {
            "enabled": true,
            "position": "bottom-left"
        },

        "dataLoader": {
            "url": "@baseUrl/bidders/@ViewBag.Comp/@ViewBag.Issuance",
            "format": "json"
        },
    }
);

chart.addListener("rendered", zoomChart);

zoomChart();
function zoomChart(){
    //chart.zoomToIndexes(chart.dataProvider.length - 40, chart.dataProvider.length - 1);
    chart.zoomToIndexes(0, 20);
    }
    chart8.addListener("dataUpdated", zoomChart8);
    zoomChart8();
   function zoomChart8() {
        chart8.zoomOut();
    }
</script>




<!-- Start content -->
<div class="content">
    <div class="container">

        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                @*<div class="btn-group pull-right m-t-15">
                    <button type="button" class="btn btn-default dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Settings <span class="m-l-5"><i class="fa fa-cog"></i></span></button>
                    <ul class="dropdown-menu drop-menu-right" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>*@
                <p class="text-muted page-title-alt">Welcome @User.Identity.Name !</p>

                <h4 class="page-title">Trend Analysis</h4>
               <h4 class="page-title">Selected Company @ViewBag.CompN</h4>
            </div>
        </div>



        <div class="row">
            <div class="col-lg-6">
                <div class="card-box">
                    <h4 class="text-dark header-title m-t-0">Top 20 Bidders</h4>

                    <div class="text-center">
                        <ul class="list-inline chart-detail-list"></ul>
                    </div>

                    <div id="chartdiv4" style="height: 300px;"></div>

                </div>

            </div>




            <div class="col-lg-6">
                <div class="card-box">
                    <h4 class="text-dark header-title m-t-0">Age Spread of Buyers</h4>

                    <div class="text-center">
                        <ul class="list-inline chart-detail-list"></ul>
                    </div>

                    <div id="chartdiv" style="height: 300px;"></div>

                </div>

            </div>




        </div>
        <!-- end row -->


        <div class="row">

            <div class="col-lg-6">
                <div class="card-box">
                    <h4 class="text-dark header-title m-t-0">Week on Week comparison (Registrations)</h4>

                    <div class="text-center">
                        <ul class="list-inline chart-detail-list"></ul>
                    </div>

                    <div id="chartdiv2" style="height: 300px;"></div>

                </div>

            </div>

            <!-- col -->

            <div class="col-lg-6">
                <div class="card-box">
                    <h4 class="text-dark header-title m-t-0">Top 20 most Active Buys</h4>

                    <div class="text-center">
                        <ul class="list-inline chart-detail-list"></ul>
                    </div>

                    <div id="chartdiv3" style="height: 300px;"></div>

                </div>

            </div>

            <!-- end col -->



        </div>
        <!-- end row -->


    </div> <!-- container -->

</div> <!-- content -->

<footer class="footer text-right">
    © 2017. All rights reserved.
</footer>


