﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<style>
    #chartdiv {
        width: 100%;
        height: 500px;
    }
    #chartdiv2 {
  width: 100%;
  height: 500px;
}
    
        #chartdiv3 {
  width: 100%;
  height: 500px;
}
             #chartdiv5 {
  width: 100%;
  height: 500px;
}
               #chartdiv4 {
  width: 100%;
  height: 500px;
}
    #chartdiv6 {
        width: 100%;
        height: 500px;
    }
    #chartdiv7 {
        width: 100%;
        height: 500px;
    }
    #chartdiv8 {
        width: 100%;
        height: 500px;
    }
</style>
<script type="text/javascript" language="Javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>

<script type="text/javascript" language="javascript">

        $(document).ready(function() {
            var idleInterval = setInterval("reloadPage()", 180000); // 30 Seconds
        })

        function reloadPage() {
            location.reload();
        }
</script>

<script src="~/amcharts/amcharts/amcharts.js"></script>
<script src="~/amcharts/amcharts/pie.js"></script>
<script src="~/amcharts/amcharts/serial.js"></script>
<script src="~/amcharts/amcharts/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="~/amcharts/amcharts/plugins/export/export.css" type="text/css" media="all" />
<script src="~/amcharts/amcharts/themes/light.js"></script>
<script src="~/amcharts/amcharts/plugins/dataloader/dataloader.js" type="text/javascript"></script>
<!-- Styles -->
@{ 
    string baseUrl = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/'); ;

}



<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
<script type="text/javascript">

var chart = AmCharts.makeChart("chartdiv", {
    "theme": "light",
    "type": "serial",
    "startDuration": 2,
    "pathToImages": "https://www.amcharts.com/lib/3/images/",
    "dataLoader": {
        "url": "@baseUrl/agerangeR/@ViewBag.Issuance",
        "format": "json"
    },
    "graphs": [{
        "balloonText": "[[category]]: <b>[[value]]</b>",
        "fillColorsField": "color",
        "fillAlphas": 1,
        "lineAlpha": 0.1,
        "type": "column",
        "valueField": "Total"
    }],
    "depth3D": 20,
    "angle": 30,
    "chartCursor": {
        "categoryBalloonEnabled": true,
        "cursorAlpha": 0,
        "zoomable": false
    },
    "categoryField": "Range",
    "categoryAxis": {
        "gridPosition": "start",
        "title": "Age Range",
        "labelRotation": 90
    },
  "valueAxes": [ {
    "position": "left",
    "title": "Total"
}, {
    "position": "bottom",
    "title": "Age Range"
} ],
    "export": {
        "enabled": true
    }

});

var chart5 = AmCharts.makeChart("chartdiv5", {
    "theme": "light",
    "type": "serial",
    "startDuration": 2,
    "pathToImages": "https://www.amcharts.com/lib/3/images/",
    "dataLoader": {
        "url": "@baseUrl/agerange/@ViewBag.Issuance",
        "format": "json"
    },
    "graphs": [{
        "balloonText": "[[category]]: <b>[[value]]</b>",
        "fillColorsField": "color",
        "fillAlphas": 1,
        "lineAlpha": 0.1,
        "type": "column",
        "valueField": "Total"
    }],
    "depth3D": 20,
    "angle": 30,
    "chartCursor": {
        "categoryBalloonEnabled": true,
        "cursorAlpha": 0,
        "zoomable": false
    },
    "categoryField": "Range",
    "categoryAxis": {
        "gridPosition": "start",
        "labelRotation": 90
    },
  "valueAxes": [ {
    "position": "left",
    "title": "Total"
}, {
    "position": "bottom",
    "title": "Age Range"
} ],
    "export": {
        "enabled": true
    }

});

    var chart2 = AmCharts.makeChart("chartdiv2", {
        "type": "pie",
        "startDuration": 0,
        "theme": "light",
        "addClassNames": true,
        "legend": {
            "equalWidths": true,
            "fontSize": 8,
            "verticlaGap": 0,
            "horizontalGap": 2,
            "autoMargins": true,
            "align": "left"

        },
        "innerRadius": "80%",
        "defs": {
            "filter": [{
                "id": "shadow",
                "width": "200%",
                "height": "200%",
                "feOffset": {
                    "result": "offOut",
                    "in": "SourceAlpha",
                    "dx": 0,
                    "dy": 0
                },
                "feGaussianBlur": {
                    "result": "blurOut",
                    "in": "offOut",
                    "stdDeviation": 5
                },
                "feBlend": {
                    "in": "SourceGraphic",
                    "in2": "blurOut",
                    "mode": "normal"
                }
            }]
        },
        "pathToImages": "https://www.amcharts.com/lib/3/images/",
        "dataLoader": {
            "url": "@baseUrl/piechart/@ViewBag.Issuance",
            "format": "json"
        },
        "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
        "valueField": "Total",
        "titleField": "Reg",
        "fontSize": 8,
        "export": {
            "enabled": false
        }
    });


var chart8 = AmCharts.makeChart("chartdiv8", {
    "theme": "light",
    "type": "serial",
    "startDuration": 2,
    "pathToImages": "https://www.amcharts.com/lib/3/images/",
    "dataLoader": {
        "url": "@baseUrl/mnoR/@ViewBag.Issuance",
        "format": "json"
    },
    "graphs": [{
        "balloonText": "[[category]]: <b>[[value]]</b>",
        "fillColorsField": "color",
        "fillAlphas": 1,
        "lineAlpha": 0.1,
        "type": "column",
        "valueField": "Total"
    }],
    "depth3D": 20,
    "angle": 30,
    "chartCursor": {
        "categoryBalloonEnabled": true,
        "cursorAlpha": 0,
        "zoomable": false
    },
    "categoryField": "MNO",
    "categoryAxis": {
        "gridPosition": "start",
        "title": "MNO",
        "labelRotation": 90
    },
  "valueAxes": [ {
    "position": "left",
    "title": "Total"
}, {
    "position": "bottom",
    "title": "MNO"
} ],
    "export": {
        "enabled": true
    }

});

    var chart6 = AmCharts.makeChart("chartdiv6", {
    "theme": "light",
    "type": "serial",
    "startDuration": 2,
    "pathToImages": "https://www.amcharts.com/lib/3/images/",
    "dataLoader": {
        "url": "@baseUrl/mno/@ViewBag.Issuance",
        "format": "json"
    },
    "graphs": [{
        "balloonText": "[[category]]: <b>[[value]]</b>",
        "fillColorsField": "color",
        "fillAlphas": 1,
        "lineAlpha": 0.1,
        "type": "column",
        "valueField": "Total"
    }],
    "depth3D": 20,
    "angle": 30,
    "chartCursor": {
        "categoryBalloonEnabled": true,
        "cursorAlpha": 0,
        "zoomable": false
    },
    "categoryField": "MNO",
    "categoryAxis": {
        "gridPosition": "start",
        "title": "MNO",
        "labelRotation": 90
    },
  "valueAxes": [ {
    "position": "left",
    "title": "Total"
}, {
    "position": "bottom",
    "title": "MNO"
} ],
    "export": {
        "enabled": true
    }

});

var chartData = generatechartData();

function generatechartData() {
    var chartData = [];
    var firstDate = new Date();
    firstDate.setDate(firstDate.getDate() - 150);

    for (var i = 0; i < 150; i++) {
        // we create date objects here. In your data, you can have date strings
        // and then set format of your dates using chart.dataDateFormat property,
        // however when possible, use date objects, as this will speed up chart rendering.
        var newDate = new Date(firstDate);
        newDate.setDate(newDate.getDate() + i);

        var visits = Math.round(Math.random() * 100 - 50);

        chartData.push({
            date: newDate,
            visits: visits
        });
    }
    return chartData;
}


var chart4 = AmCharts.makeChart("chartdiv4", {
    "theme": "light",
    "type": "serial",
    "pathToImages": "https://www.amcharts.com/lib/3/images/",
    "marginRight": 80,
    "autoMarginOffset": 20,
    "marginTop": 20,
    "dataDateFormat": "DD-MM-YYYY",
    "dataLoader": {
        "url": "@baseUrl/registered/@ViewBag.Issuance",
        "format": "json"
    },
    "valueAxes": [{
        "id": "v1",
        "axisAlpha": 0.1
    }],
    "graphs": [{
        "useNegativeColorIfDown": true,
        "balloonText": "[[category]]<br><b>value: [[value]]</b>",
        "bullet": "round",
        "bulletBorderAlpha": 1,
        "bulletBorderColor": "#FFFFFF",
        "hideBulletsCount": 50,
        "lineThickness": 2,
        "lineColor": "#fdd400",
        "negativeLineColor": "#67b7dc",
        "valueField": "Total"
    }],
    "chartScrollbar": {
        "scrollbarHeight": 5,
        "backgroundAlpha": 0.1,
        "backgroundColor": "#868686",
        "selectedBackgroundColor": "#67b7dc",
        "selectedBackgroundAlpha": 1
    },
    "chartCursor": {
        "valueLineEnabled": true,
        "valueLineBalloonEnabled": true
    },
    "categoryField": "Date",
    "categoryAxis": {
        "parseDates": false,
        "axisAlpha": 0,
        "title": "Dates Registered",
        "minHorizontalGap": 120
    },
  "valueAxes": [ {
    "position": "left",
    "title": "Total"
}, {
    "position": "bottom",
    "title": "Date"
} ],
    "export": {
        "enabled": true
    }
});

    chart.addListener("dataUpdated", zoomChart);
    chart5.addListener("dataUpdated", zoomChart5);
    chart3.addListener("dataUpdated", zoomChart3);
    chart6.addListener("dataUpdated", zoomChart6);
    zoomChart();
    zoomChart5();
    zoomChart3();
    zoomChart6();

    function zoomChart() {
        chart.zoomOut();

    }
    function zoomChart5() {

        chart5.zoomOut();

    }
    function zoomChart3() {
        chart3.zoomOut();

    }
    function zoomChart6() {
        chart6.zoomOut();
    }
</script>

   

    <!-- Start content -->
    <div id="content" class="content">
        <div class="container">

            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    @*<div class="btn-group pull-right m-t-15">
                    <button type="button" class="btn btn-default dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Settings <span class="m-l-5"><i class="fa fa-cog"></i></span></button>
                    <ul class="dropdown-menu drop-menu-right" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>*@
                    <p class="text-muted page-title-alt">Welcome @User.Identity.Name  </p>
                    <h4 class="page-title">Registrations</h4>
                    <h4 class="page-title">Selected Company @ViewBag.CompN</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-lg-2">
                    <div class="widget-bg-color-icon card-box">
                        <div class="bg-icon bg-icon-success pull-left">
                            <i class="md md-remove-red-eye text-success"></i>
                        </div>
                        <br />
                        <br />
                        <div class="text-muted" style="margin-top:35%">
                            <h3 class="text-dark"><b class="counter">@ViewBag.OR</b></h3>
                            <p class="text-muted">Overall Registered Customers</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-2">
                    <div class="widget-bg-color-icon card-box">
                        <div class="bg-icon bg-icon-success pull-left">
                            <i class="md md-remove-red-eye text-success"></i>
                        </div>
                        <br />
                        <br />
                        <div class="text-muted" style="margin-top:35%">
                            <h3 class="text-dark"><b class="counter">@ViewBag.RegCount</b></h3>
                            <p class="text-muted">Registered Customers</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-2">
                    <div class="widget-bg-color-icon card-box">
                        <div class="bg-icon bg-icon-success pull-left">
                            <i class="md md-remove-red-eye text-success"></i>
                        </div>
                        <br />
                        <br />
                        <div class="text-muted" style="margin-top:35%">
                            <h3 class="text-dark"><b class="counter">@ViewBag.OB</b></h3>
                            <p class="text-muted">Overall Buying Customers</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-2">
                    <div class="widget-bg-color-icon card-box">
                        <div class="bg-icon bg-icon-success pull-left">
                            <i class="md md-remove-red-eye text-success"></i>
                        </div>
                        <br />
                        <br />
                        <div class="text-muted" style="margin-top:35%">
                            <h3 class="text-dark"><b class="counter">@ViewBag.BY</b></h3>
                            <p class="text-muted">Buying Customers</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-2">
                    <div class="widget-bg-color-icon card-box">
                        <div class="bg-icon bg-icon-purple pull-left">
                            <i class="md md-equalizer text-purple"></i>
                        </div>
                        <br />
                        <br />
                        <div class="text-muted" style="margin-top:35%">
                            <h3 class="text-dark"><b class="counter">@ViewBag.PC</b>%</h3>
                            <p class="text-muted">Conversion</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-2">
                    <div class="widget-bg-color-icon card-box">
                        <div class="bg-icon bg-icon-success pull-left">
                            <i class="md md-remove-red-eye text-success"></i>
                        </div>
                        <br />
                        <br />
                        <div class="text-muted" style="margin-top:35%">
                            <h3 class="text-dark"><b class="counter">@ViewBag.FY</b></h3>
                            <p class="text-muted">Failed to buy</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-2">
                    <div class="widget-bg-color-icon card-box">
                        <div class="bg-icon bg-icon-success pull-left">
                            <i class="md md-remove-red-eye text-success"></i>
                        </div>
                        <br />
                        <br />
                        <div class="text-muted" style="margin-top:35%">
                            <h3 class="text-dark"><b class="counter">@ViewBag.NY</b></h3>
                            <p class="text-muted">No Buy attempt</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-2">
                    <div class="widget-bg-color-icon card-box">
                        <div class="bg-icon bg-icon-success pull-left">
                            <i class="md md-remove-red-eye text-success"></i>
                        </div>
                        <br />
                        <br />
                        <div class="text-muted" style="margin-top:35%">
                            <h3 class="text-dark"><b class="counter">@ViewBag.TY</b></h3>
                            <p class="text-muted">Today`s Registration</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="card-box">
                        <h4 class="text-dark header-title m-t-0">Registration Analytics</h4>

                        <div class="text-center">
                            <ul class="list-inline chart-detail-list"></ul>
                        </div>

                        <div id="chartdiv4" style="height: 300px;"></div>

                    </div>

                </div>




                <div class="col-lg-6">
                    <div class="card-box">
                        <h4 class="text-dark header-title m-t-0">Age Spread</h4>

                        <div class="text-center">
                            <ul class="list-inline chart-detail-list"></ul>
                        </div>

                        <div id="chartdiv" style="height: 300px;"></div>

                    </div>

                </div>




            </div>
            <!-- end row -->


            <div class="row">

                <div class="col-lg-6">
                    <div class="card-box">
                        <h4 class="text-dark header-title m-t-0">Registration Success Rate</h4>

                        <div class="text-center">
                            <ul class="list-inline chart-detail-list"></ul>
                        </div>

                        <div id="chartdiv2" style="height: 300px;"></div>

                    </div>

                </div>

                <!-- col -->

                <div class="col-lg-6">
                    <div class="card-box">
                        <h4 class="text-dark header-title m-t-0">Registration By MNO</h4>

                        <div class="text-center">
                            <ul class="list-inline chart-detail-list"></ul>
                        </div>

                        <div id="chartdiv6" style="height: 300px;"></div>

                    </div>

                </div>

                <!-- end col -->



            </div>
            <!-- end row -->
            <div class="row">

                <div class="col-lg-6">
                    <div class="card-box">
                        <h4 class="text-dark header-title m-t-0">Age Spread By Purchase</h4>

                        <div class="text-center">
                            <ul class="list-inline chart-detail-list"></ul>
                        </div>

                        <div id="chartdiv5" style="height: 300px;"></div>

                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="card-box">
                        <h4 class="text-dark header-title m-t-0">Registration By MNO By Purchase</h4>

                        <div class="text-center">
                            <ul class="list-inline chart-detail-list"></ul>
                        </div>

                        <div id="chartdiv8" style="height: 300px;"></div>

                    </div>

                </div>
            </div>

            </div> <!-- container -->

        </div> <!-- content -->

    <footer class="footer text-right">
        © 2017. All rights reserved.
    </footer>


