﻿@using MkibaBI.DAO;
@using MkibaBI.Models;
@using MkibaBI.DAO.security;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserL.cshtml";
}<!-- Styles -->
<script src="~/amcharts/amcharts/amcharts.js"></script>
<script src="~/amcharts/amcharts/pie.js"></script>
<script src="~/amcharts/amcharts/serial.js"></script>
<script src="~/amcharts/amcharts/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="~/amcharts/amcharts/plugins/export/export.css" type="text/css" media="all" />
<script src="~/amcharts/amcharts/themes/light.js"></script>
<script src="~/amcharts/amcharts/plugins/dataloader/dataloader.js" type="text/javascript"></script>
<!-- Styles -->
<style>
    #chartdiv {
        width: 100%;
        height: 500px;
    }

</style>
@{
    string baseUrl = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/'); ;

}
<script type="text/javascript" language="Javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>

<script type="text/javascript" language="javascript">

        $(document).ready(function() {
            var idleInterval = setInterval("reloadPage()", 180000); // 30 Seconds
        })

        function reloadPage() {
            location.reload();
        }
</script>



<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
<script type="text/javascript">
    var chart = AmCharts.makeChart("chartdiv", {
        "type": "serial",
        "theme": "light",
        "pathToImages": "http://www.amcharts.com/lib/3/images/",
        "dataDateFormat": "YYYY-MM-DD",
        "synchronizeGrid": true,
        "legend": {
            "useGraphSettings": true
        },
        "valueAxes": [{
            "id":"v1",
            "axisColor": "#FF6600",
            "axisThickness": 2,
            "axisAlpha": 1,
            "position": "left"
        }],
        "graphs": [{
            "id": "g1",
            "lineColor": "#FF6600",
            "bullet": "square",
            "bulletBorderThickness": 1,
            "hideBulletsCount": 30,
            "balloonText": "[[category]]<br><b>AIRTEL: [[AIRTEL]]</b>",
            "bulletColor": "#FFFFFF",
            "bulletSize": 5,
            "hideBulletsCount": 50,
            "lineThickness": 2,
            "title": "AIRTEL",
            "useLineColorForBulletBorder": true,
            "valueField": "AIRTEL",
            "fillAlphas": 0
        },
                  {
                      "id": "g2",
                      "balloonText": "[[category]]<br><b>SAFARICOM:[[SAFARICOM]]</b>",
                      "lineColor": "#FCD202",
                      "bullet": "square",
                      "bulletBorderThickness": 1,
                      "hideBulletsCount": 30,
                      "title": "SAFARICOM",
                      "useLineColorForBulletBorder": true,
                      "valueField": "SAFARICOM",
                      "fillAlphas": 0
                  }],
        "chartScrollbar": {
            "graph": "g1",
            "scrollbarHeight": 30
        },
        "chartScrollbar": {},
        "chartCursor": {
            "cursorPosition": "mouse"
        },
        "categoryField": "Date",
        "categoryAxis": {
            "parseDates": true,
            "dashLength": 1,
            "minorGridEnabled": true
           
        },
        "export": {
            "enabled": true,
            "position": "bottom-right"
        },
        "dataLoader": {
            "url": "@baseUrl/daily",
            "format": "json"
        }
    }
    );

    chart.addListener("rendered", zoomChart);

    zoomChart();
    function zoomChart(){
        //chart.zoomToIndexes(chart.dataProvider.length - 40, chart.dataProvider.length - 1);
        chart.zoomToIndexes(0, 20);
    } ;

</script>
@{ 

    Mkiba db = new Mkiba();

    var full = db.Bond_Payment_Audit.ToList().OrderByDescending(a => a.Date_Created).Take(20);
    var SF = db.Bond_Payment_Audit.ToList().Where(a=>a.MNO_=="SAFARICOM").OrderByDescending(a => a.Date_Created).Take(20);
    var AA = db.Bond_Payment_Audit.ToList().Where(a => a.MNO_ == "AIRTEL").OrderByDescending(a => a.Date_Created).Take(20);
}

<div class="content">
    <div class="container">

        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="btn-group pull-right m-t-15">
                    <button type="button" class="btn btn-default dropdown-toggle waves-effect" data-toggle="dropdown" aria-expanded="false">Settings <span class="m-l-5"><i class="fa fa-cog"></i></span></button>
                    <ul class="dropdown-menu drop-menu-right" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
                <h4 class="page-title">Buys</h4>
                <p class="text-muted page-title-alt"></p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="widget-panel widget-style-2 bg-white">
                    <i class="md md-account-child text-custom"></i>
                    <h2 class="m-0 text-dark counter font-200">@ViewBag.PS</h2>
                    <div class="text-muted m-t-15">Safaricom Potential<br />  Buyers</div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="widget-panel widget-style-2 bg-white">
                    <i class="md md-account-child text-custom"></i>
                    <h2 class="m-0 text-dark counter font-200">@ViewBag.AS</h2>
                    <div ] class="text-muted m-t-5">Safaricom Actual<br /> Buyers</div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="widget-panel widget-style-2 bg-white">
                    <i class="md md-account-child text-custom"></i>
                    <h2 class="m-0 text-dark counter font-200">@ViewBag.PA</h2>
                    <div class="text-muted m-t-5">Airtel Potential<br />  Buyers</div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="widget-panel widget-style-2 bg-white">
                    <i class="md md-account-child text-custom"></i>
                    <h2 class="m-0 text-dark counter font-200">@ViewBag.AA</h2>
                    <div class="text-muted m-t-5">Airtel Actual<br />  Buyers</div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card-box">
                    <h4 class="text-dark header-title m-t-0">Daily Buys</h4>

                    <div class="row">
                        <div class="col-md-8">
                            <div class="text-center">
                                <ul class="list-inline chart-detail-list"></ul>
                            </div>

                            <div id="chartdiv" style="height: 300px;"></div>

                        </div>



                        <div class="col-md-4">

                            <p class="font-600">Overall Conversion <span class="text-primary pull-right">@ViewBag.PC%</span></p>
                            <div class="progress m-b-30">
                                <div class="progress-bar progress-bar-primary progress-animated wow animated" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                </div><!-- /.progress-bar .progress-bar-danger -->
                            </div><!-- /.progress .no-rounded -->

                            <p class="font-600">Safaricom Conversion <span class="text-pink pull-right">@ViewBag.CS%</span></p>
                            <div class="progress m-b-30">
                                <div class="progress-bar progress-bar-pink progress-animated wow animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                </div><!-- /.progress-bar .progress-bar-pink -->
                            </div><!-- /.progress .no-rounded -->

                            <p class="font-600">Airtel Conversion <span class="text-info pull-right">@ViewBag.CA%</span></p>
                            <div class="progress m-b-30">
                                <div class="progress-bar progress-bar-info progress-animated wow animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                </div><!-- /.progress-bar .progress-bar-info -->
                            </div><!-- /.progress .no-rounded -->



                        </div>



                    </div>

                    <!-- end row -->

                </div>

            </div>



        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-lg-4">
                <div class="card-box">
                    <div class="bar-widget">
                        <div class="table-box">
                            <div class="table-detail">
                                <div class="iconbox bg-info">
                                    <i class="icon-layers"></i>
                                </div>
                            </div>

                            <div class="table-detail">
                                <h4 class="m-t-0 m-b-5"><b>@ViewBag.OO</b></h4>
                                <h5 class="text-muted m-b-0 m-t-0">Overall Buys</h5>
                            </div>
                            <div class="table-detail text-right">
                                <span data-plugin="peity-pie" data-colors="#5fbeaa,#ebeff2" data-width="50" data-height="45">1/5</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card-box">
                    <div class="bar-widget">
                        <div class="table-box">
                            <div class="table-detail">
                                <div class="iconbox bg-custom">
                                    <i class="icon-layers"></i>
                                </div>
                            </div>

                            <div class="table-detail">
                                <h4 class="m-t-0 m-b-5"><b>@ViewBag.OS</b></h4>
                                <h5 class="text-muted m-b-0 m-t-0">Overall Safaricom Buys</h5>
                            </div>
                            <div class="table-detail text-right">
                                <span data-plugin="peity-pie" data-colors="#5fbeaa,#ebeff2" data-width="50" data-height="45">1/5</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card-box">
                    <div class="bar-widget">
                        <div class="table-box">
                            <div class="table-detail">
                                <div class="iconbox bg-danger">
                                    <i class="icon-layers"></i>
                                </div>
                            </div>

                            <div class="table-detail">
                                <h4 class="m-t-0 m-b-5"><b>@ViewBag.OA</b></h4>
                                <h5 class="text-muted m-b-0 m-t-0">Overall Airtel Buys</h5>
                            </div>
                            <div class="table-detail text-right">
                                <span data-plugin="peity-donut" data-colors="#f05050,#ebeff2" data-width="50" data-height="45">1/5</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <!-- Transactions -->
            <div class="col-lg-4">
                <div class="card-box">
                    <h4 class="m-t-0 m-b-20 header-title"><b>Last 20 Transactions</b></h4>

                    <div class="nicescroll mx-box">
                        <ul class="list-unstyled transaction-list m-r-5">
                            @foreach (var c in full)
                            {



                                <li>
                                    <i class="ti-download text-success"></i>
                                    <span class="tran-text">@c.MNO_</span>
                                    @if (c.AmountPaid > 0)
                                    {
                                        <span class="pull-right text-success tran-price">+KES @Math.Round(Convert.ToDouble(c.AmountPaid),2)</span>

                                    }
                                    else
                                    {
                                        <span class="pull-right text-danger tran-price">-KES @Math.Round(Convert.ToDouble(c.AmountPaid), 2)</span>

                                    }
                                    @{
                                        DateTime? ct = c.Date_Created;
                                        string dt = ct.Value.ToString("dd/MM/yyyy:HH:mm:ss");
                                    }
                                    <span class="text-muted">@dt</span>
                                    <span class="clearfix"></span>
                                </li>
                            }

                        </ul>
                    </div>

                </div>

            </div> <!-- end col -->
            <!-- CHAT -->
            <div class="col-lg-4">
                <div class="card-box">
                    <h4 class="m-t-0 m-b-20 header-title"><b>Last 20 Safaricom Transactions</b></h4>

                    <div class="nicescroll mx-box">
                        <ul class="list-unstyled transaction-list m-r-5">
                            @foreach (var c in SF)
                            {



                                <li>
                                    <i class="ti-download text-success"></i>
                                    <span class="tran-text">@c.ReceiptNumber</span>
                                    @if (c.AmountPaid > 0)
                                    {
                                        <span class="pull-right text-success tran-price">+KES @Math.Round(Convert.ToDouble(c.AmountPaid), 2)</span>

                                    }
                                    else
                                    {
                                        <span class="pull-right text-danger tran-price">-KES @Math.Round(Convert.ToDouble(c.AmountPaid), 2)</span>

                                    }
                                    @{
                                        DateTime? ct = c.Date_Created;
                                        string dt = ct.Value.ToString("dd/MM/yyyy:HH:mm:ss");
                                    }
                                    <span class="text-muted">@dt</span>
                                    <span class="clearfix"></span>
                                </li>
                                        }


                        </ul>
                    </div>
                </div>

            </div> <!-- end col --> <!-- Todos app -->

            <div class="col-lg-4">
                <div class="card-box">
                    <h4 class="m-t-0 m-b-20 header-title"><b>Last 20 Airtel Transactions</b></h4>

                    <div class="nicescroll mx-box">
                        <ul class="list-unstyled transaction-list m-r-5">
                            @foreach (var c in AA)
                            {



                                <li>
                                    <i class="ti-download text-success"></i>
                                    <span class="tran-text">@c.ReceiptNumber</span>
                                    @if (c.AmountPaid > 0)
                                    {
                                        <span class="pull-right text-success tran-price">+KES @Math.Round(Convert.ToDouble(c.AmountPaid), 2)</span>

                                    }
                                    else
                                    {
                                        <span class="pull-right text-danger tran-price">-KES @Math.Round(Convert.ToDouble(c.AmountPaid), 2)</span>

                                    }
                                    @{
                                        DateTime? ct = c.Date_Created;
                                        string dt = ct.Value.ToString("dd/MM/yyyy:HH:mm:ss");
                                    }
                                    <span class="text-muted">@dt</span>
                                    <span class="clearfix"></span>
                                </li>
                            }


                        </ul>                    </div>
                </div>

            </div> <!-- end col -->



        </div> <!-- container -->
        <div class="row">
            <div class="col-lg-4">
                <div class="card-box">
                    <div class="bar-widget">
                        <div class="table-box">
                            <div class="table-detail">
                                <div class="iconbox bg-info">
                                    <i class="icon-layers"></i>
                                </div>
                            </div>

                            <div class="table-detail">
                                <h4 class="m-t-0 m-b-5"><b>@ViewBag.OOT</b></h4>
                                <h5 class="text-muted m-b-0 m-t-0"> Buys Today</h5>
                            </div>
                            <div class="table-detail text-right">
                                <span data-plugin="peity-pie" data-colors="#5fbeaa,#ebeff2" data-width="50" data-height="45">1/5</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card-box">
                    <div class="bar-widget">
                        <div class="table-box">
                            <div class="table-detail">
                                <div class="iconbox bg-custom">
                                    <i class="icon-layers"></i>
                                </div>
                            </div>

                            <div class="table-detail">
                                <h4 class="m-t-0 m-b-5"><b>@ViewBag.OST</b></h4>
                                <h5 class="text-muted m-b-0 m-t-0">Safaricom Buys Today</h5>
                            </div>
                            <div class="table-detail text-right">
                                <span data-plugin="peity-pie" data-colors="#5fbeaa,#ebeff2" data-width="50" data-height="45">1/5</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card-box">
                    <div class="bar-widget">
                        <div class="table-box">
                            <div class="table-detail">
                                <div class="iconbox bg-danger">
                                    <i class="icon-layers"></i>
                                </div>
                            </div>

                            <div class="table-detail">
                                <h4 class="m-t-0 m-b-5"><b>@ViewBag.OAT</b></h4>
                                <h5 class="text-muted m-b-0 m-t-0">Airtel Buys Today</h5>
                            </div>
                            <div class="table-detail text-right">
                                <span data-plugin="peity-donut" data-colors="#f05050,#ebeff2" data-width="50" data-height="45">1/5</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    <//div>
    </div> <!-- content -->


