﻿@model PagedList.IPagedList<MkibaBI.Models.Role>
@using PagedList.Mvc;
<link <a href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="content">
    <div class="container">

        <!-- Page-Title -->
        <div class="row">

            <div class="col-md-12">
                <div class="card-box">
                    <h4 class="m-t-0 header-title"><b> Roles</b></h4>

                    <p>
                        @Html.ActionLink("Create New", "Create", "", new { @class = "btn btn-primary" })
                    </p>


                    <table class="table table-striped">
                        <tr>
                            <th>
                                @Html.ActionLink("Role Name", "Index", new { sortOrder = ViewBag.NameSortParm })
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                IsActive
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RoleName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsActive)
                                </td>
                                <td>
                                    <a style="color:black" href="@Url.Action("Edit", new { id = item.RoleId })">
                                        <i class="glyphicon glyphicon-pencil"></i>

                                    </a>
                                    |
                                    <a style="color:black" href="@Url.Action("Details", new { id = item.RoleId })">
                                        <i class="glyphicon glyphicon-file"></i>

                                    </a>
                                    |
                                    @*<a style="color:black" href="@Url.Action("Delete", new { id = item.RoleId })">
                                            <i class="glyphicon glyphicon-trash"></i>

                                        </a>*@
                                </td>
                            </tr>
                        }

                    </table>
                </div>
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of
                @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("Index",
new
{
    page,
    sortOrder = ViewBag.CurrentSort,
    currentFilter =
ViewBag.CurrentFilter
}))
            </div>
        </div>
    </div>
</div>