﻿@model PagedList.IPagedList<MkibaBI.Models.User>
@using PagedList.Mvc;
<link <a href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="content">
    <div class="container">

        <!-- Page-Title -->
        <div class="row">

            <div class="col-md-12">
                <div class="card-box">
                    <h4 class="m-t-0 header-title"><b> Unlock Users</b></h4>

                    <table class="table">
                        <tr>
                            <th>

                                @Html.ActionLink("Username", "Index", new { sortOrder = ViewBag.NameSortParm })
                            </th>
                            <th>
                                Email
                            </th>



                            <th>
                                IsActive
                            </th>
                            <th>
                                role
                            </th>
                            <th>
                                @Html.ActionLink("Created Date", "Index", new { sortOrder = ViewBag.DateSortParm })
                            </th>
                            <th>
                                Status
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Username)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>


                                <td>
                                    @Html.DisplayFor(modelItem => item.IsActive)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.role)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreateDate)
                                </td>
                                <td>
                                    @if (item.LockCount > 0)
                                    {
                                        String locks = "Locked";

                                        @locks

                                    }
                                </td>
                                <td>


                                    <a style="color:black" href="@Url.Action("Unlocker", new { id = item.UserId })">
                                        <i class="glyphicon glyphicon-lock">Unlock</i>

                                    </a>
                                </td>
                            </tr>
                        }

                    </table>
                </div>
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of
                @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("Index",
new
{
    page,
    sortOrder = ViewBag.CurrentSort,
    currentFilter =
ViewBag.CurrentFilter
}))
            </div>

        </div>
    </div>

</div>