﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Makiba Business Intelligence">
    <meta name="author" content="Coderthemes">

    <link rel="shortcut icon" href="~//assets/images/favicon_1.ico">

    <title>Business Intelligence</title>

    <!--Morris Chart CSS -->
    <link rel="stylesheet" href="~/assets/plugins/morris/morris.css">

    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/core.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/components.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/pages.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/responsive.css" rel="stylesheet" type="text/css" />

    @Styles.Render("~/Content/themes/base/css")


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    
    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="~/assets/js/modernizr.min.js"></script>


</head>


<body class="fixed-left">

    <!-- Begin page -->
    <div id="wrapper">

        <!-- Top Bar Start -->
        <div class="topbar">

            <!-- LOGO -->
            <div class="topbar-left">
                <div class="text-center">
                    <a href="~/Admin/Index" class="logo" style="max-height:200px !important;"><img src="~/images/makiba.png" width="100px" height="70px"  ><span></span> </a>
                    
					<!-- Image Logo here -->
                    <!--<a href="index.html" class="logo">-->
                    <!--<i class="icon-c-logo"> <img src="assets/images/logo_sm.png" height="42"/> </i>-->
                    <!--<span><img src="assets/images/logo_light.png" height="20"/></span>-->
                    <!--</a>-->
                </div>
            </div>

            <!-- Button mobile view to collapse sidebar menu -->
            <div class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="">
	
                        <div class="pull-left">
                            <button class="button-menu-mobile open-left waves-effect waves-light">
                                <i class="md md-menu"></i>
                            </button>
                            <span class="clearfix"></span>
                        </div>

                        @*<ul class="nav navbar-nav hidden-xs">
                            <li><a href="#" class="waves-effect waves-light">Files</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown"
                                   role="button" aria-haspopup="true" aria-expanded="false">
                                    Dropdown <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </li>
                        </ul>*@

                        <form role="search" class="navbar-right app-search pull-right hidden-xs">
                            <input type="text" placeholder="Search..." class="form-control">
                            <a href=""><i class="fa fa-search"></i></a>
                        </form>


                        <ul class="nav navbar-nav navbar-right pull-right">
                           
                            <li class="hidden-xs">
                                <a href="#" id="btn-fullscreen" class="waves-effect waves-light"><i class="icon-size-fullscreen"></i></a>
                            </li>

                            <li class="dropdown top-menu-item-xs">
                                <a href="" class="dropdown-toggle profile waves-effect waves-light" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-user"  alt="user-img"> </i> </a>
                                <ul class="dropdown-menu">
                                    <li><a href="~/AdminAccounts/Index"><i class="ti-user m-r-10 text-custom"></i> Profile</a></li>
                                    <li><a href="javascript:void(0)"><i class="ti-settings m-r-10 text-custom"></i> Settings</a></li>
                                    <li><a href="javascript:void(0)"><i class="ti-lock m-r-10 text-custom"></i> Lock screen</a></li>
                                    <li class="divider"></li>
                                    <li><a href="~/Account/LogOut"><i class="ti-power-off m-r-10 text-danger"></i> Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <!-- Top Bar End -->
        <!-- ========== Left Sidebar Start ========== -->

        <div class="left side-menu" style="height:95%">
            <div class="sidebar-inner slimscrollleft" >
                <!--- Divider -->
                <div id="sidebar-menu">
				<center><img src="~/images/escrow.png" width="80px"></img></center>
                <ul>

                    <li class="text-muted menu-title">Navigation</li>

                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect"><i class="ti-home"></i> <span> Dashboard </span> <span class="menu-arrow"></span></a>
                        <ul class="list-unstyled" style="height:100%;overflow-y:scroll">
                            <li><a href="~/Admin/Company"><span class="ti-layers-alt"></span>  Company Selection</a></li>
                            <li><a href="~/Admin/IndexP"><span class="ti-marker-alt"></span>  Registrations</a></li>
                            <li><a href="~/Admin/Index"><span class="ti-marker-alt"></span> Participants</a></li>

                            <li><a href="~/Admin/Index2"><span class="ti-shopping-cart-full">  Buys</a></li>
                            <!-- <li><a href="~/Admin/Index3">Failed Transactions</a></li> -->
                            <li><a href="~/Admin/Index4"><span class="ti-pulse"></span>Trend Analysis</a></li>
                            <li><a href="~/Admin/Index5"><span class="ti-bar-chart"></span>Other Graphs</a></li>
                            <li><a href="~/Admin/Index6"><span class="ti-clipboard"></span>Smmary</a></li>
                            <li><a href="~/Admin/Index9"><span class="ti-clipboard"></span>Daily Trade Summary</a></li>
                            <li><a href="~/Admin/Index7"><span class="ti-clipboard"></span>Safaricom Daily Trade Summary</a></li>
                            <li><a href="~/Admin/Index8"><span class="ti-clipboard"></span>Airtel Daily Trade Summary</a></li>
                            <li><a href="~/Admin/Index10"><span class="ti-clipboard"></span>Pesalink Daily Trade Summary</a></li>
                        </ul>
                    </li>
                    <li ><a href="~/Issuances/Index"><i class="glyphicon-certificate"></i> <span> Issuances</span></a></li>
                    <li class="text-muted menu-title">Extra</li>



                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect"><i class="ti-lock"></i><span class="label label-warning pull-right">6</span><span> Security</span></a>
                        <ul class="list-unstyled">

                            <li><a href="~/AuditLogDetails/Index"><span class="ti-clipboard">Audit Logs Details</a></li>
                            <li><a href="~/Roles/Index"><span class="ti-clipboard">Roles</a></li>
                            <li><a href="~/Users/Index"><span class="ti-user">Users</a></li>
                            <li><a href="~/Unlock/Index"><span class="ti-unlock">Unlock</a></li>
                            <li><a href="#"><span class="ti-close">Log Out</a></li>

                        </ul>
                    </li>
                    @*<li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect"><i class="ti-home"></i> <span> Reports </span> <span class="menu-arrow"></span></a>
                        <ul class="list-unstyled">
                            <li><a href="~/Report/Registration"><span class="ti-layers-alt"></span>Registrations And Purchase Timeline</a></li>

                            <li><a href="~/Report/Channel"><span class="ti-marker-alt"></span>Total Number Of Investors Bought Per Channel</a></li>
                            <li><a href="~/Report/PurchaseGender"><span class="ti-marker-alt">Purchases by Gender</a></li>

                            <li><a href="~/Report/PurchaseAge"><span class="ti-shopping-cart-full"></span>Purchases By Age</a></li>
                        </ul>
                    </li>*@
                </ul>
                    <div class="clearfix"></div>
					 
                </div>
               
            </div>
			<div class="clearfix" style="bottom:300px;"> <img src="~/images/CDSC.png" width="200px"></div>
        </div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            @RenderBody()
            <footer class="footer text-right">
             
            </footer>
         </div>

            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->
            <!-- Right Sidebar -->
            <div class="side-bar right-bar nicescroll">
                <h4 class="text-center">Chat</h4>
                <div class="contact-list nicescroll">
                    <ul class="list-group contacts-list">
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img src="assets/images/users/avatar-1.jpg" alt="">
                                </div>
                                <span class="name">Chadengle</span>
                                <i class="fa fa-circle online"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img src="assets/images/users/avatar-2.jpg" alt="">
                                </div>
                                <span class="name">Tomaslau</span>
                                <i class="fa fa-circle online"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img src="assets/images/users/avatar-3.jpg" alt="">
                                </div>
                                <span class="name">Stillnotdavid</span>
                                <i class="fa fa-circle online"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img src="assets/images/users/avatar-4.jpg" alt="">
                                </div>
                                <span class="name">Kurafire</span>
                                <i class="fa fa-circle online"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img src="assets/images/users/avatar-5.jpg" alt="">
                                </div>
                                <span class="name">Shahedk</span>
                                <i class="fa fa-circle away"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img src="assets/images/users/avatar-6.jpg" alt="">
                                </div>
                                <span class="name">Adhamdannaway</span>
                                <i class="fa fa-circle away"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img src="assets/images/users/avatar-7.jpg" alt="">
                                </div>
                                <span class="name">Ok</span>
                                <i class="fa fa-circle away"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img src="assets/images/users/avatar-8.jpg" alt="">
                                </div>
                                <span class="name">Arashasghari</span>
                                <i class="fa fa-circle offline"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img src="assets/images/users/avatar-9.jpg" alt="">
                                </div>
                                <span class="name">Joshaustin</span>
                                <i class="fa fa-circle offline"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img src="assets/images/users/avatar-10.jpg" alt="">
                                </div>
                                <span class="name">Sortino</span>
                                <i class="fa fa-circle offline"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /Right-bar -->

        </div>
    <!-- END wrapper -->



    <script>
            var resizefunc = [];
    </script>

    <!-- jQuery  -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/detect.js"></script>
    <script src="~/assets/js/fastclick.js"></script>

    <script src="~/assets/js/jquery.slimscroll.js"></script>
    <script src="~/assets/js/jquery.blockUI.js"></script>
    <script src="~/assets/js/waves.js"></script>
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/jquery.nicescroll.js"></script>
    <script src="~/assets/js/jquery.scrollTo.min.js"></script>

    <script src="~/assets/plugins/peity/jquery.peity.min.js"></script>

    <!-- jQuery  -->
    <script src="~/assets/plugins/waypoints/lib/jquery.waypoints.js"></script>
    <script src="~/assets/plugins/counterup/jquery.counterup.min.js"></script>



    <script src="~/assets/plugins/morris/morris.min.js"></script>
    <script src="~/assets/plugins/raphael/raphael-min.js"></script>

    <script src="~/assets/plugins/jquery-knob/jquery.knob.js"></script>

    <script src="~/assets/pages/jquery.dashboard.js"></script>

    <script src="~/assets/js/jquery.core.js"></script>
    <script src="~/assets/js/jquery.app.js"></script>

    <script type="text/javascript">
            jQuery(document).ready(function($) {
                $('.counter').counterUp({
                    delay: 100,
                    time: 1200
                });

                $(".knob").knob();

            });
    </script>



    @Scripts.Render("~/bundles/jquery")
   
    @RenderSection("scripts", required: false)
</body>
</html>