﻿@using System.Web.UI.WebControls
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Makiba BI</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
    <style > body { background-image: url("./images/9.jpeg") !important; }

	</style>
	<link rel="stylesheet" href="~/Login/css/style.css">
	<style>
	.pen-title span {
    margin: 0 0 20px;
	font-size: 48px;
	font-weight: 300;
	padding: 0px 0;
	color:white;
	padding: 0px 0 !important; ;
}
	</style>

	
</head>
<body>

    <!-- Form Mixin-->
    <!-- Input Mixin-->
    <!-- Button Mixin-->
    <!-- Pen Title-->
    @RenderBody()
    @*<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='http://codepen.io/andytran/pen/vLmRVp.js'></script>*@
    <script src="~/Login/js/index.js"></script>
	<script src="~/assets/js/typing.js"></script>
	    <script type="text/javascript">
        Typing.new('h1', { sentences: ["M-AKIBA", "M-AKIBA Business Intelligence", "CDSC M-AKIBA","M-AKIBA", "M-AKIBA Business Intelligence", "CDSC M-AKIBA","M-AKIBA", "M-AKIBA Business Intelligence", "CDSC M-AKIBA","M-AKIBA", "M-AKIBA Business Intelligence", "CDSC M-AKIBA","M-AKIBA Business Intelligence"],caretChar:'_',typeDelay: 150, sentenceDelay: 750});
    </script>
  
</body>
</html>
