﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site1.master.cs" Inherits="MkibaBI.Site1" %>
<!DOCTYPE html>
<html>
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
         <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Makiba Business Intelligence">
    <meta name="author" content="Coderthemes">

    <link rel="shortcut icon" href="<%= Page.ResolveUrl("~//assets/images/favicon_1.ico")%>" />

    <title>Business Intelligence</title>

    <!--Morris Chart CSS -->
    <link rel="stylesheet" href="<%= Page.ResolveUrl("~/assets/plugins/morris/morris.css")%>" />

    <link href="<%= Page.ResolveUrl("~/assets/css/bootstrap.min.css")%>"  rel="stylesheet" type="text/css" />
    <link href="<%= Page.ResolveUrl("~/assets/css/core.css")%>"  rel="stylesheet" type="text/css" />
    <link href="<%= Page.ResolveUrl("~/assets/css/components.css")%>"  rel="stylesheet" type="text/css" />
    <link href="<%= Page.ResolveUrl("~/assets/css/icons.css")%>"  rel="stylesheet" type="text/css" />
    <link href="<%= Page.ResolveUrl("~/assets/css/pages.css")%>"  rel="stylesheet" type="text/css" />
    <link href="<%= Page.ResolveUrl("~/assets/css/responsive.cs")%>"  rel="stylesheet" type="text/css" />

    
    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="<%= Page.ResolveUrl("~/assets/js/modernizr.min.js")%>"></script>


    </asp:ContentPlaceHolder>
</head>
 <body class="fixed-left">
    <form id="form1" runat="server">

   
    <!-- Begin page -->
    <div id="wrapper">

        <!-- Top Bar Start -->
        <div class="topbar">

            <!-- LOGO -->
            <div class="topbar-left">
                <div class="text-center">
				  <a href="../<%=codename%>" class="logo" style="max-height:200px !important;"><img src="../images/makiba.png" width="100px" height="70px"  ><span></span> </a>
                  
                    <!-- Image Logo here -->
                    <!--<a href="index.html" class="logo">-->
                    <!--<i class="icon-c-logo"> <img src="assets/images/logo_sm.png" height="42"/> </i>-->
                    <!--<span><img src="assets/images/logo_light.png" height="20"/></span>-->
                    <!--</a>-->
                </div>
            </div>

            <!-- Button mobile view to collapse sidebar menu -->
            <div class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="">
                        <div class="pull-left">
                            <button class="button-menu-mobile open-left waves-effect waves-light">
                                <i class="md md-menu"></i>
                            </button>
                            <span class="clearfix"></span>
                        </div>

                        <div role="search" class="navbar-right app-search pull-right hidden-xs">
                            <input type="text" placeholder="Search..." class="form-control">
                            <a href=""><i class="fa fa-search"></i></a>
                        </div>


                        <ul class="nav navbar-nav navbar-right pull-right">
               
                            <li class="hidden-xs">
                                <a href="#" id="btn-fullscreen" class="waves-effect waves-light"><i class="icon-size-fullscreen"></i></a>
                            </li>
     
                            <li class="dropdown top-menu-item-xs">
                                <a href="" class="dropdown-toggle profile waves-effect waves-light" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-user" alt="user-img"> </i> </a>
                                <ul class="dropdown-menu">
                                    <li><a href="../UserAccounts/Index"><i class="ti-user m-r-10 text-custom"></i> Profile</a></li>
                                    <li><a href="javascript:void(0)"><i class="ti-settings m-r-10 text-custom"></i> Settings</a></li>
                                    <li><a href="javascript:void(0)"><i class="ti-lock m-r-10 text-custom"></i> Lock screen</a></li>
                                    <li class="divider"></li>
                                    <li><a href="../Account/LogOut"><i class="ti-power-off m-r-10 text-danger"></i> Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <!-- Top Bar End -->
        <!-- ========== Left Sidebar Start ========== -->

        <div class="left side-menu" style="height:95%">
            <div class="sidebar-inner slimscrollleft">
                <!--- Divider -->
                <div id="sidebar-menu">
				<center><img src="~/images/escrow.png" width="80px"></img></center>
                    <ul>

                        <li class="text-muted menu-title">Navigation</li>

                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="ti-home"></i> <span> Dashboard </span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled">
                                <li><a href="../User/Company"><span class="ti-layers-alt"></span>Company Selection</a></li>

                                <li><a href="../User/IndexP"><span class="ti-marker-alt"></span>Registrations</a></li>
                                <li><a href="../User/Index"><span class="ti-marker-alt"></span>Participants</a></li>

                                <li><a href="../User/Index2"><span class="ti-shopping-cart-full"></span>Buys</a></li>
                                <!-- <li><a href="~/User/Index3">Failed Transactions</a></li> -->
                                <li><a href="../User/Index4"><span class="ti-pulse"></span>Trend Analysis</a></li>
                                <li><a href="../User/Index5"><span class="ti-bar-chart"></span>Other Graphs</a></li>
                                <li><a href="../User/Index6"><span class="ti-clipboard"></span>Summary</a></li>
                                <li><a href="../User/Index9"><span class="ti-clipboard"></span>Daily Trade Summary</a></li>
                                <li><a href="../User/Index7"><span class="ti-clipboard"></span>Safaricom Daily Trade Summary</a></li>
                                <li><a href="../User/Index8"><span class="ti-clipboard"></span>Airtel Daily Trade Summary</a></li>
                                <li><a href="../User/Index10"><span class="ti-clipboard"></span>Pesalink Daily Trade Summary</a></li>
                            </ul>
                        </li>
                         <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect"><i class="ti-home"></i> <span> Reports </span> <span class="menu-arrow"></span></a>
                        <ul class="list-unstyled">
                            <li><a href="../Report/Registration"><span class="ti-layers-alt"></span>Registrations And Purchase Timeline</a></li>

                            <li><a href="../Report/Channel"><span class="ti-marker-alt"></span>Total Number Of Investors Bought Per Channel</a></li>
                            <li><a href="../Report/PurchaseGender"><span class="ti-marker-alt">Purchases by Gender</a></li>

                            <li><a href="../Report/PurchaseAge"><span class="ti-shopping-cart-full"></span>Purchases By Age</a></li>
                        </ul>
                    </li>

                 
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
			<div class="clearfix" style="bottom:300px;"> <img src="../images/CDSC.png" width="200px"></div>
        </div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">

            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
         <footer class="footer text-right">
                © 2017. All rights reserved.
            </footer>
         </div>

            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->
            <!-- Right Sidebar -->
            <div class="side-bar right-bar nicescroll">
                <h4 class="text-center">Chat</h4>
                <div class="contact-list nicescroll">
                    <ul class="list-group contacts-list">
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img src="../assets/images/users/avatar-1.jpg" alt="">
                                </div>
                                <span class="name">Chadengle</span>
                                <i class="fa fa-circle online"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img src="../assets/images/users/avatar-2.jpg" alt="">
                                </div>
                                <span class="name">Tomaslau</span>
                                <i class="fa fa-circle online"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img src="../assets/images/users/avatar-3.jpg" alt="">
                                </div>
                                <span class="name">Stillnotdavid</span>
                                <i class="fa fa-circle online"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img src="../assets/images/users/avatar-4.jpg" alt="">
                                </div>
                                <span class="name">Kurafire</span>
                                <i class="fa fa-circle online"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img src="../assets/images/users/avatar-5.jpg" alt="">
                                </div>
                                <span class="name">Shahedk</span>
                                <i class="fa fa-circle away"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img src="../assets/images/users/avatar-6.jpg" alt="">
                                </div>
                                <span class="name">Adhamdannaway</span>
                                <i class="fa fa-circle away"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img src="../assets/images/users/avatar-7.jpg" alt="">
                                </div>
                                <span class="name">Ok</span>
                                <i class="fa fa-circle away"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img src="../assets/images/users/avatar-8.jpg" alt="">
                                </div>
                                <span class="name">Arashasghari</span>
                                <i class="fa fa-circle offline"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img src="../assets/images/users/avatar-9.jpg" alt="">
                                </div>
                                <span class="name">Joshaustin</span>
                                <i class="fa fa-circle offline"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <div class="avatar">
                                    <img src="../assets/images/users/avatar-10.jpg" alt="">
                                </div>
                                <span class="name">Sortino</span>
                                <i class="fa fa-circle offline"></i>
                            </a>
                            <span class="clearfix"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /Right-bar -->

        </div>
    <!-- END wrapper -->



    <script>
            var resizefunc = [];
    </script>

    <!-- jQuery  -->
    <script src="<%= Page.ResolveUrl("~/assets/js/jquery.min.js")%>"></script>
    <script src="<%= Page.ResolveUrl("~/assets/js/bootstrap.min.js")%>"></script>
    <script src="<%= Page.ResolveUrl("~/assets/js/detect.js")%>"></script>
    <script src="<%= Page.ResolveUrl("~/assets/js/fastclick.js")%>"></script>

    <script src="<%= Page.ResolveUrl("~/assets/js/jquery.slimscroll.js")%>"></script>
    <script src="<%= Page.ResolveUrl("~/assets/js/jquery.blockUI.js")%>"></script>
    <script src="<%= Page.ResolveUrl("~/assets/js/waves.js")%>"></script>
    <script src="<%= Page.ResolveUrl("~/assets/js/wow.min.js")%>"></script>
    <script src="<%= Page.ResolveUrl("~/assets/js/jquery.nicescroll.js")%>"></script>
    <script src="<%= Page.ResolveUrl("~/assets/js/jquery.scrollTo.min.js")%>"></script>

    <script src="<%= Page.ResolveUrl("~/assets/plugins/peity/jquery.peity.min.js")%>"></script>

    <!-- jQuery  -->
    <script src="<%= Page.ResolveUrl("~/assets/plugins/waypoints/lib/jquery.waypoints.js")%>"></script>
    <script src="<%= Page.ResolveUrl("~/assets/plugins/counterup/jquery.counterup.min.js")%>"></script>



    <script src="<%= Page.ResolveUrl("~/assets/plugins/morris/morris.min.js")%>"></script>
    <script src="<%= Page.ResolveUrl("~/assets/plugins/raphael/raphael-min.js")%>"></script>

    <script src="<%= Page.ResolveUrl("~/assets/plugins/jquery-knob/jquery.knob.js")%>"></script>

    <script src="<%= Page.ResolveUrl("~/assets/pages/jquery.dashboard.js")%>"></script>

    <script src="<%= Page.ResolveUrl("~/assets/js/jquery.core.js")%>"></script>
    <script src="<%= Page.ResolveUrl("~/assets/js/jquery.app.js")%>"></script>

    <script type="text/javascript">
            jQuery(document).ready(function($) {
                $('.counter').counterUp({
                    delay: 100,
                    time: 1200
                });

                $(".knob").knob();

            });
    </script>

  </form>
</body>
</html>
