﻿@model PagedList.IPagedList<MkibaBI.Models.User>
@using PagedList.Mvc;
<link <a href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content">
    <div class="container">

        <!-- Page-Title -->
        <div class="row">

            <div class="col-md-12">
                <div class="card-box">
    
                    <p>
                        @Html.ActionLink("Create New", "Create", "", new { @class = "btn btn-primary" })
                    </p>



                    <h4 class="m-t-0 header-title"><b>System Users</b></h4>

                    <table class="table table-striped">
                        <tr>
                            <th>
                                @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm })
                            </th>



                            <th>
                                IsActive
                            </th>
                            <th>
                                Role
                            </th>
                            <th>
                                @Html.ActionLink("Created Date", "Index", new { sortOrder = ViewBag.DateSortParm })
                            </th>

                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Username)
                                </td>


                                <td>
                                    @Html.DisplayFor(modelItem => item.IsActive)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.role)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreateDate)
                                </td>
                            </tr>
                            <tr>


                                <td>
                                    <a style="color:black" href="@Url.Action("Edit", new { id = item.UserId })">
                                        <i class="glyphicon glyphicon-pencil"><i class="text-success" style="font-weight:bold;font-style:normal">Update</i></i>

                                    </a>
                                </td>
                                <td>

                                    <a style="color:black" href="@Url.Action("Details", new { id =item.UserId})">
                                        <i class="glyphicon glyphicon-file"><i class="text-success" style="font-weight:bold;font-style:normal">Details</i></i>

                                    </a>
                                </td>
                                @*<td>
                                     <a style="color:black" href="@Url.Action("Delete", new { id = item.UserId })">
                                        <i class="glyphicon glyphicon-trash"><i class="text-success" style="font-weight:bold;font-style:normal">Delete</i></i>

                                    </a>
                                    </td>*@
                                <td>

                                    <a style="color:black" href="@Url.Action("ResetPassword", new { id = item.UserId })">
                                        <i class="glyphicon glyphicon-cog"><i class="text-success" style="font-weight:bold;font-style:normal">ResetPassword</i></i>

                                    </a>
                                </td>
                                <td>

                                </td>
                            </tr>
                        }

                    </table>
                </div>    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of
                @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("Index",
new
{
    page,
    sortOrder = ViewBag.CurrentSort,
    currentFilter =
ViewBag.CurrentFilter
}))
            </div>
        </div>
    </div>
        </div>
