﻿@using MkibaBI.DAO;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Mobi.cshtml";
}

@{

    Mkiba db = new Mkiba();

    var full = db.AccountC_FailedReg.ToList().OrderByDescending(a => a.Date_Created).Take(20);


}
@{
    string baseUrl = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/');

}

<script type="text/javascript" language="Javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>

<script type="text/javascript" language="javascript">

        $(document).ready(function() {
            var idleInterval = setInterval("reloadPage()", 180000); // 30 Seconds
        })

        function reloadPage() {
            location.reload();
        }
</script>
   
<div class="content">
    <div class="container">

        <!-- Page-Title -->
  


        <div class="row">
            <div class="col-lg-4">
                <div class="card-box">
                    <div class="bar-widget">
                        <div class="table-box">
                            <div class="table-detail">
                                <div class="iconbox bg-info">
                                    <i class="icon-layers"></i>
                                </div>
                            </div>

                            <div class="table-detail">
                                <h4 class="m-t-0 m-b-5"><b>@ViewBag.failedreg</b></h4>
                                <p class="text-muted m-b-0 m-t-0">Failed Registrations</p>
                            </div>
                            <div class="table-detail text-right">
                                <span data-plugin="peity-donut" data-colors="#f05050,#ebeff2" data-width="50" data-height="45">1/5</span>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card-box">
                    <div class="bar-widget">
                        <div class="table-box">
                            <div class="table-detail">
                                <div class="iconbox bg-custom">
                                    <i class="icon-layers"></i>
                                </div>
                            </div>

                            <div class="table-detail">
                                <h4 class="m-t-0 m-b-5"><b>@ViewBag.FB</b></h4>
                                <p class="text-muted m-b-0 m-t-0">Failed Bids</p>
                            </div>
                            <div class="table-detail text-right">
                                <span data-plugin="peity-pie" data-colors="#5fbeaa,#ebeff2" data-width="50" data-height="45">1/5</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card-box">
                    <div class="bar-widget">
                        <div class="table-box">
                            <div class="table-detail">
                                <div class="iconbox bg-danger">
                                    <i class="icon-layers"></i>
                                </div>
                            </div>

                            <div class="table-detail">
                                <h4 class="m-t-0 m-b-5"><b>KES @ViewBag.SF</b></h4>
                                <p class="text-muted m-b-0 m-t-0">Failed Bids</p>
                            </div>
                            <div class="table-detail text-right">
                                <span data-plugin="peity-donut" data-colors="#f05050,#ebeff2" data-width="50" data-height="45">1/5</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">

            <div class="col-lg-4">
                <div class="card-box">
                    <h4 class="text-dark header-title m-t-0 m-b-30">Failed Registration Errors</h4>

                    <div class="widget-chart text-center">
                        <div id="sparkline3"></div>
                        <ul class="list-inline m-t-15">
                            <li>
                                <h5 class="text-muted m-t-20">Common Errors</h5>
                                <h5 class="m-b-0">@ViewBag.CommonError</h5>
                            </li>
                            <li>
                                <h5 class="text-muted m-t-20">Occurence</h5>
                                <h5 class="m-b-0">@ViewBag.CommonOccur</h5>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="col-lg-4">
                <div class="card-box">
                    <h4 class="text-dark  header-title m-t-0 m-b-30">Failed Bids</h4>

                    <div class="widget-chart text-center">
                        <div id="sparkline2"></div>
                        <ul class="list-inline m-t-15">
                            <li>
                                <h5 class="text-muted m-t-20">Common Errors</h5>
                                <h5 class="m-b-0">@ViewBag.CommonErrorB</h5>
                            </li>
                            <li>
                                <h5 class="text-muted m-t-20">Occurence</h5>
                                <h5 class="m-b-0">@ViewBag.CommonOccurB</h5>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="col-lg-4">
                <div class="card-box">
                    <h4 class="text-dark  header-title m-t-0 m-b-30">Average</h4>

                    <div class="widget-chart text-center">
                        <div id="sparkline1"></div>
                        <ul class="list-inline m-t-15">
                            <li>
                                <h5 class="text-muted m-t-20">Failed Bids</h5>
                                <h5 class="m-b-0">KES @ViewBag.FAV</h5>
                            </li>
                            <li>
                                <h5 class="text-muted m-t-20">Failed Registrations</h5>
                                <h5 class="m-b-0">KES @ViewBag.AVR</h5>
                            </li>
                          
                        </ul>
                    </div>
                </div>

            </div>



        </div>

        <!-- end row -->

        <div class="row">

            <div class="row">
                <!-- Transactions -->
                <div class="col-lg-6">
                    <div class="card-box">
                        <h4 class="m-t-0 m-b-20 header-title"><b>Last 20 Failed Registrations</b></h4>

                        <div class="nicescroll mx-box">
                            <ul class="list-unstyled transaction-list m-r-5">
                                @foreach (var c in full)
                                {



                                    <li>
                                        <p style="width:auto;word-wrap:break-word" class="tran-text">@c.Reason</p>
                                        @if (c.AmountPaid > 0)
                                        {
                                            <span class="pull-right text-success tran-price">+KES @Math.Round(Convert.ToDouble(c.AmountPaid), 2)</span>

                                        }
                                        else
                                        {
                                            <span class="pull-right text-danger tran-price">-KES @Math.Round(Convert.ToDouble(c.AmountPaid), 2)</span>

                                        }
                                        @{
                                            DateTime? ct = c.Date_Created;
                                            string dt = ct.Value.ToString("dd/MM/yyyy:HH:mm:ss");
                                        }
                                        <span class="text-muted">@dt</span>
                                        <span class="clearfix"></span>
                                    </li>
                                            }

                            </ul>
                        </div>

                    </div>

                </div> <!-- end col -->
                <!-- CHAT -->
                <div class="col-lg-6">
                    <div class="card-box">
                        <h4 class="m-t-0 m-b-20 header-title"><b>Last 20 Failed Bids</b></h4>

                        <div class="nicescroll mx-box">
                            <ul class="list-unstyled transaction-list m-r-5">
                                @foreach (var c in ViewBag.SFP)
                                {



                                    <li>

                              
                                        <p style="width:auto;word-wrap:break-word" class="tran-text">@c.Reason</p>
                                        @if (Convert.ToDecimal(c.AmountPaid) > 0)
                                        {
                                            <span class="pull-right text-success tran-price">+KES @Math.Round(Convert.ToDouble(c.AmountPaid), 2)</span>

                                        }
                                        else
                                        {
                                            <span class="pull-right text-danger tran-price">-KES @Math.Round(Convert.ToDouble(c.AmountPaid), 2)</span>

                                        }

                                        <span class="text-muted">@c.Date_Created</span>
                                        <span class="clearfix"></span>
                                    </li>
                                }


                            </ul>

                        </div>
                    </div>

                </div> <!-- end col --> <!-- Todos app -->



            </div>

        <!-- end row -->




    </div> <!-- container -->

</div> <!-- content -->

